.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #013914;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: background-color 0.5s ease, color 0.5s ease;

  &.active {
    background-color: white;
    color: black;

    button {
      background-color: white !important;
      color: #1dbf73 !important;
      border: 1px solid #1dbf73 !important;
    }
  }

  .container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;

    .logo {
      font-size: 34px;
      font-weight: bold;

      .text {
        color: inherit; /* Ensures the text color follows the parent color */
      }

      .dot {
        font-weight: bold;
        color: #1dbf73;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;

      span {
        white-space: nowrap;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }

        .options {
          position: absolute;
          top: 50px;
          right: 0;
          padding: 20px;
          background-color: white;
          border-radius: 10px;
          z-index: 999;
          border: 1px solid lightgrey;
          display: none; /* Hidden by default */
          flex-direction: column;
          gap: 10px;
          width: 200px;
          font-weight: 300;
          color: gray;
        }

        &:hover .options {
          display: flex; /* Show options on hover */
        }
      }

      button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s ease, border-color 0.3s ease;

        &:hover {
          background-color: #1dbf73;
          border-color: #1dbf73;
        }
      }
    }
  }

  hr {
    width: 100%;
    margin: 0;
    border: 0;
    border-top: 0.5px solid #ebe9e9;
  }

  .menu {
    width: 100%;
    max-width: 1400px;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    color: gray;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .navbar {
    .container {
      flex-direction: column;
      align-items: flex-start;

      .links {
        flex-direction: column;
        gap: 10px;
      }
    }

    .menu {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
